In [ ]:
# 011 변수 사용하기

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [1]:
# 012 변수 사용하기

시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>